# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Fr3574, @fledor and @leshl will be requested for
# review when someone opens a pull request.
*       @Fr3574 @fledor @leshl
